html {
  background-color: #E6EEFF;
}

body {
  /*padding: 25px;*/
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #e8f1fa;
  /*slightly darker ones: #E6EEFF;/* slightly darker: #D4E2FF; */
}
p {
  padding-left: 25px;
  padding-right: 25px;
  color: #737373;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: large;
}

form {
  text-align: center;
  color: #737373;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: large;
}

.dontbreak {
  white-space: nowrap;
}

#submit {
 color: #737373;
 font-size: large;
 width: 120px;
 height: 35px;
 margin: 5px;
 padding: 5px;
 background: #E6EEFF; 
}
.navigation {
  text-align: center;
  font-family:"Century Gothic", Verdana, Helvetica, sans-serif;
  font-size: xx-large;
}

h2 {
  padding: 15px;
  font-size: xx-large;
  font-style: normal;
  font-weight: normal;
  font-family:"Century Gothic", Verdana, Helvetica, sans-serif;
}
ul {
  color: #737373;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font: large;
  line-height: 150%;
}

li {
  margin-left: 5%;
}

.quote {
  color: #A6A6A6;
  background-color: #E6EEFF;
  margin-left: 0%;
  margin-right: 0%;
  padding: 50px;
  text-align: center;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: x-large;
  font-style: italic;
}

.break {
  color: #737373;
  background-color: #E6EEFF;
  margin-left: 0%;
  margin-right: 0%;
  padding: 25px;
  text-align: center;
  font: large;
  font-style: italic;
}

.description {
  font-size: large;
  margin-left: 2%;
  margin-right: 10%;
}

.tagline {
  font-size: x-large;
  /*font-variant:small-caps;*/
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.pitch {
  text-align: center;
  font-weight: bold;
}

.top_link {
  color: #737373;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: x-small;
}
.find {
  color: #E81038;
}
.start {
  color: #FFB300;
  /*#F5E000;#FFEA00;*/
}
.interact {
  color: #43A10D;
}
.monitor {
  color: #0A35C4;
}

a:hover {text-decoration: none;}

/*
#find, #start, #interact, #monitor {
  display: none;
}
.find:hover + #find, .navigation:hover + #start, .navigation:hover + #interact, .navigation:hover + #monitor {
  display: block;
}*/
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
#quote1 {
  font-family: "Comic Sans MS";
  text-align: right;
}
#quote2 {
  font-family: "Tahoma";
}
#quote3 {
  font-family: "Lucida Sans Unicode","Lucida Grande", "Lucida Sans", "DejaVu Sans Condensed";
  text-align: center;
}*/
