
$font-logotype: 'Raleway';
$font-body: 'Source Sans Pro';
$font-display: $font-body;

$col-blue:#63c9eb;
$col-orange:#f18609;
$col-red: #ac3014;
$col-green: #33c220;
$col-grey: #b7b7b7;

$col-logo-primary: $col-blue;
$col-logo-secondary: $col-orange;

// $col-page: #f4f3f0;
$col-page: #fff;

$content-width: 90%;
$content-max-width: 900px;

$masthead-height: 3.4em;

@mixin logotype {
    font: {
        family: $font-logotype;
        weight: 500;
    }

    span:nth-child(1) {
        color: $col-logo-primary;
    }

    span:nth-child(2) {
        color: $col-logo-secondary;
    }
}

@mixin pill-button($basecol) {
    @include linear-gradient(top, lighten($basecol, 40%) 0%, lighten($basecol, 5%) 5%, $basecol 60%, $basecol 95%, darken($basecol, 40%) 100%);
}

@mixin indent-text($sh, $hi) {
    text-shadow: 0 -1px 0 rgba(0,0,0,$sh), 0 1px 0 rgba(255,255,255,$hi);
}

@mixin round-right($rad) {
    border-top-right-radius: $rad;
    border-bottom-right-radius: $rad;
}

@mixin round-left($rad) {
    border-top-left-radius: $rad;
    border-bottom-left-radius: $rad;   
}