:root {
    font-size: 16px;
}

body {
    font: {
        family: $font-body;
    }

    background-color: $col-page;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-display;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    line-height: 1.4em;
}

.balance-text {
    text-wrap: balanced;
}

.wrap {
    width: $content-width;
    margin: 0 auto;
    max-width: $content-max-width;
}

#masthead {
    top: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(#fff, 1);
    position: fixed;
    @include clearfix;
    z-index: 10;
    height: $masthead-height;
    line-height: $masthead-height;

    h1,
    .tagline {
        display: inline-block;
    }

    h1 {
        @include logotype;
        font: {
            size: 1.6em;
        }
        text-transform: lowercase;
        margin: 0 0.6rem 0 0;
    }

    .tagline {
        font-size: 1.1em;
        color: #b7b7b7;
    }
}

#pitch {
    margin: $masthead-height 0 2em;
    position: relative;
    padding: 1.4em 0 2.5em;
    // background: url(../img/pitch-back-mock.png) no-repeat center;
    // background-size: 100% auto;
    

    border-bottom: 1px solid #ddd;
    
    img {
        display: block;
        width: $content-width;
        margin: 2.6em auto;
    }

    h1,
    h2 {
        width: 100%;
        text-align: center;
        font: {
            size: 2.6em;
            weight: 900;
        };
        letter-spacing: 0em;
    }

    h2 {
        margin-bottom: 1.4em;
    }

    .call {
        width: 90%;
        max-width: $content-width * 0.86;
        margin: 1em auto 0.6em;
        @include clearfix;
    }

    h3 {
        display: block;
        text-align: right;
        width: 49%;
        float: left;
        padding-right: 1rem;
        margin-top: 0.2em;
        font: {
            size: 1.6em;
            weight: 600;
        }
        color: darken($col-green, 10%)
    }

    

    form {
        @include clearfix;
        width: 51%;
        float: right;
        position: relative;
        height: 2.6rem;
    }

    input {
        display: block;
        position: absolute;
        height: 100%;
        line-height: 2.6rem;
        border: none;
        padding: 0;
        margin: 0;
        font: {
            family: $font-body;
            size: 1.4rem;
        }
        top: 0;
        bottom: 0;

        &:focus {
            outline: none;
        }

        $sub-width: 5rem;

        &[type="email"] {
            left: 0;
            right: $sub-width + 0.2rem;
            color: #000;
            background-color: lighten($col-grey, 24%);
            border: 1px solid #fff;
            border-radius: 4px;
            padding: 0 0.6em;
            @include transition(all 0.2s ease-out);

            &:focus {
                background-color: lighten($col-grey, 26%);
                border-color: lighten($col-grey, 20%);
            }
        }

        &[type="submit"] {
            width: $sub-width;
            height: $sub-width;
            line-height: $sub-width;
            border-radius: $sub-width;
            right: 0;
            text-align: center;
            font: {
                size: 1.6em;
                weight: 700;
            }
            margin-top: -$sub-width / 4.4;
            background-color: darken($col-green, 10%);
            color: #fff;
            cursor: pointer;

        }
    }

}

.content {
    margin-top: 4rem;
}

#info {

    margin-bottom: 4em;

    h1 {
        font: {
            size: 1.6em;
            weight: 600;
        }

        margin: 0 0 1.2em 0;
        width: 100%;
        text-align: center;
    }

    .point-container {
        display: block;
        width: 100%;
        height: 16rem;
        overflow: hidden;
        position: relative;


        li {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            overflow: hidden;
            background-color: $col-page;
            @include transition(left 0.4s ease-out);
        }
    }

    .point-nav {
        display: block;
        width: 10em;
        text-align: center;
        margin: 0 auto;
    }

    .point-nav-indicator {
        display: inline-block;
        overflow: hidden;
        width: 1rem;
        height: 1rem;
        background-color: #000;
        border-radius: 1rem;
        text-indent: -99999px;
        cursor: pointer;
        @include transition(background-color 0.4s ease-out);

        &.current {
            background-color: $col-blue;
        }
    }

}

#howitworks {
    position: relative;

    > h1 {
        font: {
            size: 1.6em;
            weight: 600;
        }

        margin: 0 0 2em 0;
        width: 100%;
        text-align: center;
    }
}

.quote {

    color: darken($col-grey, 20%);

    p {
        margin: 2em auto;
        width: 10em;
        text-align: center;
        font-size: 2.4em;
        line-height: 1.2em;
        font-style: italic;
        
        &:before {
            content: '\201C';
        }

        &:after {
            content: '\201D';
        }
    }
}

#find,
#start,
#interact,
#monitor {
    
    position: relative;
    width: 80%;
    margin: 0 auto 4rem;
    
    h1,
    p {
        margin-left: 50%;
        padding-left: 1.4rem;
    }

    h1 {
        margin-bottom: 0.6em;
        
        font: {
            size: 1.6em;
            weight: 600;
        }

        b {
            font-weight: 700;
        }
    }

    p {
        margin-bottom: 1.1em;
    }

    a.top {
        display: none;
    }
    
}

@mixin easecolour($col) {
    color: lighten(desaturate($col, 30%), 8%);
}


#find h1 {
    @include easecolour($col-orange);
}
#start h1 {
    @include easecolour($col-red);
}
#interact h1 {
    @include easecolour(darken($col-green, 5%));
}
#monitor h1 {
    @include easecolour($col-blue);
}

#quote-1 {
    color: $col-orange;
}

#quote-2 {
    color: $col-red;
}

#quote-3 {
    color: darken($col-green, 5%);
}

#quote-4 {
    color: $col-blue;
}
