<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6" lang="en-AU"><![endif]-->
<!--[if IE 7]><html class="ie7" lang="en-AU"><![endif]-->
<!--[if IE 8]><html class="ie8" lang="en-AU"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en-AU"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>ClassWired: Digital ESL Activities Ready to Go</title>
    <meta name="description" content="ClassWired: Digital ESL Activities Ready to Go">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta http-equiv="cleartype" content="on">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">

    <link href='http://fonts.googleapis.com/css?family=Raleway:500|Source+Sans+Pro:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/classwired.css">
</head>
<body>
    <header id="masthead" role="banner">
        <div class="wrap">
            <h1 class="logotype">
                <span>Class</span><span>Wired</span>
            </h1>
            <span class="tagline">ESL Activities Ready to Go</span>    
        </div>
    </header>

    <section id="pitch">
        <div class="wrap">
            <h1>Like a teacher&rsquo;s resource book,</h1>
            <img src="img/pitch-main.png">
            <h2>only better.</h2>
            <div class="call">
                <h3>Ready to go digital?</h3>
                <form id="register-form">
                    <!-- <label for="email">E-mail</label> -->
                    <input type="email" name="email" id="email" placeholder="Your Email" tabindex="1">
                    <div id="submit" tabindex="2">Yes!</div>
                </form>
            </div>
        </div>
    </section>

    <div id="response-message"></div>

    <div class="wrap content">
        <section id="info">
            <h1>Any level. Any language focus. Any device.</h1>
            <ul class="point-container">
                <li class="point" id="point-1">
                    <p>No more photocopier and scissors! ClassWired is digital and online.</p>
                </li>
                <li class="point" id="point-2">
                    <p>Classroom or computer lab. Classwired works on phones, tablets, and computers.</p>
                </li>
                <li class="point" id="point-3">
                    <p>Students want practice? ClassWired is communicative: it gets our students <em>using</em> English.</p>
                </li>
                <li class="point" id="point-4">
                    <p>Want to target your teaching? ClassWired shows student progress to you, the teacher.</p>
                </li>
            </ul>
            <div class="point-nav-arrow next"></div>
            <div class="point-nav-arrow previous"></div>
            <ul class="point-nav">
                <li class="point-nav-indicator">1</li>
                <li class="point-nav-indicator">2</li>
                <li class="point-nav-indicator">3</li>
                <li class="point-nav-indicator">4</li>
            </ul>
        </section>
        <section id="howitworks">
            <h1>How it works</h1>
        
            <div class="quote" id="quote-1">
                <p>Today we’re going to learn about holidays.</p>
            </div>

            <section id="find">
                <i></i>
                <h1><b>Find</b> an activity</h1>
                <p>What are you teaching today? Find an activity to practice today's lesson.</p>
                <p>Activities are organised by grammar, vocabulary, function, and level. Search or browse your way to what you need.</p>
            </section>

            <div class="quote" id="quote-2">
                <p>Write down 3 places you want to go.</p>
            </div>

            <section id="start">
                <i></i>
                <h1><b>Start</b> your class</h1>
                <p>Tell your students to turn <strong>on</strong> their phones. Or their iPads. Or take them to the computer room. Whatever device you decide to use, make sure they're connected to the internet and tell them where to go.</p>
                <p>Your activity can be full of pre-loaded language, from you, or one of our libraries. Or, if you really want a dynamic class, students provide the input too!</p>
            </section>

            <div class="quote" id="quote-3">
                <p>Do you want to go to Italy?</p>
            </div>

            <section id="interact">
                <i></i>
                <h1 class="interact"><b>Interact</b></h1>
                <p>They talk in pairs. Or in groups. Just like they would in a class without technology. Students can write in their notebooks or they can write onto whatever device they're using. Students can view each others' work and even give their opinion.</p>
            </section>

            <div class="quote" id="quote-4">
                <p>What was the most popular place in the class?</p>
            </div>

            <section id="monitor">
                <i></i>
                <h1><b>Monitor</b></h1>
                <p>Live feedback comes straight back to you. What words are students struggling with? Do they agree with each other's answers? Who needs extra help? Are students practicing
                  the language you've taught them?</p>
            </section>

        </section>
    </div>
    <script src="js/vendor/jquery-2.0.0.min.js"></script>
    <script src="js/vendor/underscore.min.js"></script>
    <script src="js/vendor/jquery.balancetext.js"></script>
    <script src="js/classwired.js"></script>
</body>
</html>
