* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  font-size: 16px; }

body {
  font-family: "Source Sans Pro";
  background-color: white; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro"; }

a {
  color: inherit;
  text-decoration: inherit; }

p {
  line-height: 1.4em; }

.balance-text {
  text-wrap: balanced; }

.wrap {
  width: 90%;
  margin: 0 auto;
  max-width: 800px; }

#masthead {
  top: 0;
  width: 100%;
  color: #fff;
  background-color: white;
  position: fixed;
  *zoom: 1;
  z-index: 10;
  height: 3.4em;
  line-height: 3.4em; }
  #masthead:before, #masthead:after {
    content: " ";
    display: table; }
  #masthead:after {
    clear: both; }
  #masthead h1,
  #masthead .tagline {
    display: inline-block; }
  #masthead h1 {
    font-family: "Raleway";
    font-weight: 500;
    font-size: 1.6em;
    text-transform: lowercase;
    margin: 0 0.6rem 0 0; }
    #masthead h1 span:nth-child(1) {
      color: #63c9eb; }
    #masthead h1 span:nth-child(2) {
      color: #f18609; }
  #masthead .tagline {
    font-size: 1.1em;
    color: #b7b7b7; }

#pitch {
  margin: 3.4em 0 2em;
  position: relative;
  padding: 1.4em 0 2.5em;
  border-bottom: 1px solid #dddddd; }
  #pitch img {
    display: block;
    width: 90%;
    margin: 2.6em auto; }
  #pitch h1,
  #pitch h2 {
    width: 100%;
    text-align: center;
    font-size: 2.6em;
    font-weight: 900;
    letter-spacing: 0em; }
  #pitch h2 {
    margin-bottom: 1.4em; }
  #pitch .call {
    width: 90%;
    max-width: 77.4%;
    margin: 1em auto 0.6em;
    *zoom: 1; }
    #pitch .call:before, #pitch .call:after {
      content: " ";
      display: table; }
    #pitch .call:after {
      clear: both; }
  #pitch h3 {
    display: block;
    text-align: right;
    width: 49%;
    float: left;
    padding-right: 1rem;
    margin-top: 0.2em;
    font-size: 1.6em;
    font-weight: 600;
    color: #279619; }
  #pitch form {
    *zoom: 1;
    width: 51%;
    float: right;
    position: relative;
    height: 2.6rem; }
    #pitch form:before, #pitch form:after {
      content: " ";
      display: table; }
    #pitch form:after {
      clear: both; }
  #pitch input {
    display: block;
    position: absolute;
    height: 100%;
    line-height: 2.6rem;
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    top: 0;
    bottom: 0; }
    #pitch input:focus {
      outline: none; }
    #pitch input[type="email"] {
      left: 0;
      right: 5.2rem;
      color: #000;
      background-color: #f4f4f4;
      border: 1px solid white;
      border-radius: 4px;
      padding: 0 0.6em;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
      #pitch input[type="email"]:focus {
        background-color: #f9f9f9;
        border-color: #eaeaea; }
    #pitch input[type="submit"] {
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      border-radius: 5rem;
      right: 0;
      text-align: center;
      font-size: 1.6em;
      font-weight: 700;
      margin-top: -1.13636rem;
      background-color: #279619;
      color: #fff;
      cursor: pointer; }

.content {
  margin-top: 4rem; }

#info {
  margin-bottom: 4em; }
  #info h1 {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0 0 1.2em 0;
    width: 100%;
    text-align: center; }
  #info .point-container {
    display: block;
    width: 100%;
    height: 16rem;
    overflow: hidden;
    position: relative; }
    #info .point-container li {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      overflow: hidden;
      background-color: white;
      -webkit-transition: left 0.4s ease-out;
      -moz-transition: left 0.4s ease-out;
      transition: left 0.4s ease-out; }
  #info .point-nav {
    display: block;
    width: 10em;
    text-align: center;
    margin: 0 auto; }
  #info .point-nav-indicator {
    display: inline-block;
    overflow: hidden;
    width: 1rem;
    height: 1rem;
    background-color: #000;
    border-radius: 1rem;
    text-indent: -99999px;
    cursor: pointer;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out; }
    #info .point-nav-indicator.current {
      background-color: #63c9eb; }

#howitworks {
  position: relative; }
  #howitworks > h1 {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0 0 2em 0;
    width: 100%;
    text-align: center; }

.quote {
  color: #848484; }
  .quote p {
    margin: 2em auto;
    width: 10em;
    text-align: center;
    font-size: 2.4em;
    line-height: 1.2em;
    font-style: italic; }
    .quote p:before {
      content: '\201C'; }
    .quote p:after {
      content: '\201D'; }

#find,
#start,
#interact,
#monitor {
  position: relative;
  width: 80%;
  margin: 0 auto 4rem; }
  #find h1,
  #find p,
  #start h1,
  #start p,
  #interact h1,
  #interact p,
  #monitor h1,
  #monitor p {
    margin-left: 50%;
    padding-left: 1.4rem; }
  #find h1,
  #start h1,
  #interact h1,
  #monitor h1 {
    margin-bottom: 0.6em;
    font-size: 1.6em;
    font-weight: 600; }
    #find h1 b,
    #start h1 b,
    #interact h1 b,
    #monitor h1 b {
      font-weight: 700; }
  #find p,
  #start p,
  #interact p,
  #monitor p {
    margin-bottom: 1.1em; }
  #find a.top,
  #start a.top,
  #interact a.top,
  #monitor a.top {
    display: none; }

#find h1 {
  color: #d6974d; }

#start h1 {
  color: #ae503b; }

#interact h1 {
  color: #52ab46; }

#monitor h1 {
  color: #9bcbdb; }

#quote-1 {
  color: #f18609; }

#quote-2 {
  color: #ac3014; }

#quote-3 {
  color: #2dac1c; }

#quote-4 {
  color: #63c9eb; }
