* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  font-family: "Source Sans Pro";
  background-color: white; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro"; }

a {
  color: inherit;
  text-decoration: inherit; }

.logotype {
  font-family: "Raleway";
  font-weight: 400; }
  .logotype span:nth-child(1) {
    color: #63c9eb; }
  .logotype span:nth-child(2) {
    color: #f18609; }

.wrap {
  width: 90%;
  margin: 0 auto;
  max-width: 900px; }

#masthead {
  top: 0;
  width: 100%;
  color: #fff;
  background-color: white;
  position: fixed;
  *zoom: 1;
  z-index: 10;
  height: 3.4em;
  line-height: 3.4em; }
  #masthead:before, #masthead:after {
    content: " ";
    display: table; }
  #masthead:after {
    clear: both; }
  #masthead h1,
  #masthead .tagline {
    display: inline-block; }
  #masthead h1 {
    font-size: 1.6em;
    text-transform: lowercase;
    margin: 0 0.6rem 0 0; }
  #masthead .tagline {
    font-size: 1.1em;
    color: #b7b7b7; }

#pitch {
  margin: 3.4em 0 2em;
  position: relative;
  padding: 1.4em 0;
  background: url(../img/pitch-back-mock.png) no-repeat center;
  background-size: 100% auto; }
  #pitch img {
    display: block;
    width: 90%;
    margin: 1.4em auto 1em; }
  #pitch h1,
  #pitch h2 {
    width: 100%;
    text-align: center;
    font-size: 2.6em;
    font-weight: 900;
    letter-spacing: 0em; }
  #pitch h3 {
    width: 100%;
    text-align: center;
    margin: 1em auto 0.6em;
    font-size: 1.6em;
    font-weight: 600;
    color: #ac3014; }
  #pitch form {
    *zoom: 1;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    position: relative; }
    #pitch form:before, #pitch form:after {
      content: " ";
      display: table; }
    #pitch form:after {
      clear: both; }
  #pitch input {
    display: block;
    position: absolute;
    height: 2.6rem;
    line-height: 2.6rem;
    border: none;
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro";
    font-size: 1.4rem;
    top: 0;
    bottom: 0; }
    #pitch input:focus {
      outline: none; }
    #pitch input[type="email"] {
      left: 0;
      right: 90px;
      background-color: #fff;
      border: 1px solid #b7b7b7;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding: 0 1em; }
    #pitch input[type="submit"] {
      width: 90px;
      right: 0;
      text-align: center;
      font-size: 0.96em;
      background-color: #9aec8f;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9aec8f), color-stop(5%, #2dac1c), color-stop(60%, #279619), color-stop(95%, #279619), color-stop(100%, black));
      background-image: -webkit-linear-gradient(top, #9aec8f 0%, #2dac1c 5%, #279619 60%, #279619 95%, black 100%);
      background-image: linear-gradient(to bottom,#9aec8f 0%, #2dac1c 5%, #279619 60%, #279619 95%, black 100%);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.6);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      color: #fff;
      cursor: pointer; }
